.active,.button,.wrapper{
    display:block
}
.button,a{
    text-decoration:none
}
body{
    color:#333
}
.clear{
    clear:both
}
.wrapper{
    position:relative
}
.text-silver{
    color:#727272
}
.blue{
    background-color:#0D7FCC
}
.text-blue{
    color:#0D7FCC
}
.orange{
    background-color:#F98D01
}
.text-orange{
    color:#F98D01
}
.button,.close{
    color:#fff;
    cursor:pointer
}
.button{
    margin:0 auto;
    border:none;
    padding:15px 32px;
    text-align:center;
    font-size:16px;
    border-radius:5px
}
.wrapperModal .right .paragraph .accordion{
    max-width:560px;
    margin:0 auto;
    padding:0
}
.wrapperModal .right .paragraph .accordion li{
    border-bottom:1px solid #727272;
    position:relative;
    list-style:none
}
.wrapperModal .right .paragraph .accordion li p{
    display:none
}
.wrapperModal .right .paragraph .accordion a{
    width:100%;
    margin:0;
    display:block;
    cursor:pointer;
    font-weight:600;
    line-height:3;
    font-size:14px;
    user-select:none
}
.wrapperModal .right .paragraph .accordion a:after{
    width:8px;
    height:8px;
    border-right:1px solid #0D7FCC;
    border-bottom:1px solid #0D7FCC;
    position:absolute;
    right:10px;
    content:" ";
    top:17px;
    transform:rotate(45deg);
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.wrapperModal .right .paragraph .accordion p{
    font-size:14px;
    line-height:1.5
}
a.active:after{
    transform:rotate(-135deg);
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.wrapperModal{
    width:60%;
    margin:8% auto;
    box-shadow:0 0 20px 0 #333;
    background-color:#fff
}
.wrapperModal .left{
    display:inline-block;
    width:45%;
    vertical-align:top
}
.wrapperModal .right{
    margin:16px 32px;
    display:inline-block;
    width:45%
}
.wrapperModal .right .title{
    margin:0
}
.wrapperModal .right .location{
    margin-bottom:16px
}
.wrapperModal .right .paragraph{
    margin:16px 0
}
.wrapperModal .right .text-blue{
    margin-left:8px
}
.wrapperModal .right .price{
    display:block;
    position:relative
}
.wrapperModal .right .price .leftPrice{
    display:inline-block
}
.wrapperModal .right .price .leftPrice .totalPrice{
    font-size:24px
}
.wrapperModal .right .price .rightPrice{
    display:inline-block;
    float:right
}
.modal{
    background-color:rgba(0,0,0,.5);
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0
}
.close{
    position:absolute;
    right:0;
    font-size:40px;
    padding:24px 72px
}
